In [1]:
import json # will be needed for saving preprocessing details
import numpy as np # for data engineering
import pandas as pd # for data engineering
import joblib # saving algorithm and preprocessing serialized objects
from sklearn.preprocessing import LabelEncoder # used for preprocessing

import sqlalchemy

In [2]:
import sys
!{sys.executable} -m pip install psycopg2
import psycopg2

Requirement already satisfied: psycopg2 in /Users/micahkirkpatrick/opt/anaconda3/lib/python3.7/site-packages (2.8.6)

In [3]:
# load test dataset: 
df = pd.read_csv('/Users/micahkirkpatrick/Documents/decision_support_tool/model_data/base6.csv', skipinitialspace=False)
df.head()

,FIPS,SerialNumber,HurricaneName,DeclarationDate,IncidentBeginDate,IncidentEndDate,DisasterCloseOutDate,Declared,MaxPrecipitation,WindSwathRadii,...,Shrub_Scrub,Herbaceuous,Hay_Pasture,Cultivated_Crops,Woody_Wetlands,Emergent_Herbaceuous_Wetlands,GeoName,Population,County,State
0,22001,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,NaN,No,"4"" to 6""",58,...,2769300,2081700,114534900,1062193500,248421600,2347200,"Acadia, LA",62590.0,Acadia,LA
1,22009,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,NaN,No,"2"" to 4""",39,...,12894300,12469500,254997900,830644200,758770200,16775100,"Avoyelles, LA",40980.0,Avoyelles,LA
2,22011,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,NaN,No,"1"" to 2""",58,...,338255100,136060200,226836900,31453200,535906800,5139000,"Beauregard, LA",36928.0,Beauregard,LA
3,22013,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,NaN,No,"1"" to 2""",39,...,237616200,147206700,22209300,2137500,366525000,2635200,"Bienville, LA",13638.0,Bienville,LA
4,22015,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,NaN,No,"0"" to 1""",39,...,95726700,58199400,273266100,48853800,433539900,12926700,"Bossier, LA",127634.0,Bossier,LA

In [4]:
df.shape

(2181, 45)

In [5]:
df.count()

FIPS                             2181
SerialNumber                     2181
HurricaneName                    2181
DeclarationDate                  2181
IncidentBeginDate                2181
IncidentEndDate                  2181
DisasterCloseOutDate                0
Declared                         2181
MaxPrecipitation                 2181
WindSwathRadii                   2181
CountyOverlap                    2181
VALUE_1                           434
VALUE_2                           434
VALUE_3                           434
VALUE_4                           434
VALUE_5                           434
VALUE_7                           183
Stormsurge_Area                   434
SOCIAL                           2181
INFRASTRUCTURE                   2181
COMCAPITAL                       2181
INSTITUTION                      2181
ENVIRONMENT                      2181
BRIC_SCORE                       2181
Unclassified                     2181
Open_Water                       2181
Perennial_Snow_Ice               2181
Developed__Open_Space            2181
Developed__Low_Intensity         2181
Developed__Medium_Intensity      2181
Developed__High_Intensity        2181
Barren_Land                      2181
Deciduous_Forest                 2181
Evergreen_Forest                 2181
Mixed_Forest                     2181
Shrub_Scrub                      2181
Herbaceuous                      2181
Hay_Pasture                      2181
Cultivated_Crops                 2181
Woody_Wetlands                   2181
Emergent_Herbaceuous_Wetlands    2181
GeoName                          2028
Population                       2028
County                           2028
State                            2028
dtype: int64

In [6]:
%load_ext sql

In [7]:
sys.executable

'/Users/micahkirkpatrick/opt/anaconda3/bin/python'

In [8]:
# connect to the iparametrics database for machine learning:
from sqlalchemy import create_engine, engine
engine = create_engine(
    engine.url.URL(
        drivername = 'postgresql',
        username = 'iparametrics',
        password = 'iparmldb',
        host = '127.0.0.1',
        port = '5432',
        database = 'ipar_ml_db'),
    echo_pool = True,
)

print('connecting with engine' + str(engine))
connection = engine.connect()

connecting with engineEngine(postgresql://iparametrics:***@127.0.0.1:5432/ipar_ml_db)

In [9]:
query = 'TABLE rhrms_feature_store * ;'
tables = pd.read_sql_query(query, connection)
tables

,id,FIPS,SerialNumber,HurricaneName,DeclarationDate,IncidentBeginDate,IncidentEndDate,DisasterCloseOutDate,Declared,MaxPrecipitation,...,Shrub_Scrub,Herbaceuous,Hay_Pasture,Cultivated_Crops,Woody_Wetlands,Emergent_Herbaceuous_Wetlands,GeoName,Population,County,State
0,0,22001,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,None,No,"4"" to 6""",...,2769300,2081700,114534900,1062193500,248421600,2347200,"Acadia, LA",62590.0,Acadia,LA
1,1,22009,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,None,No,"2"" to 4""",...,12894300,12469500,254997900,830644200,758770200,16775100,"Avoyelles, LA",40980.0,Avoyelles,LA
2,2,22011,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,None,No,"1"" to 2""",...,338255100,136060200,226836900,31453200,535906800,5139000,"Beauregard, LA",36928.0,Beauregard,LA
3,3,22013,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,None,No,"1"" to 2""",...,237616200,147206700,22209300,2137500,366525000,2635200,"Bienville, LA",13638.0,Bienville,LA
4,4,22015,2019188N35274,BARRY,2019-08-27T11:37:00Z,7/10/2019,2019-07-15T20:00:00Z,None,No,"0"" to 1""",...,95726700,58199400,273266100,48853800,433539900,12926700,"Bossier, LA",127634.0,Bossier,LA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2176,2176,12003,2016242N24279,HERMINE,2016-09-28T12:18:00Z,8/31/2016,2016-09-11T23:59:00Z,None,Yes,"6"" to 10""",...,91291500,85883400,66716100,707400,483461100,4784400,"Baker, FL",28283.0,Baker,FL
2177,2177,12073,2016242N24279,HERMINE,2016-09-28T12:18:00Z,8/31/2016,2016-09-11T23:59:00Z,None,Yes,"6"" to 10""",...,69276600,71114400,39165300,18218700,364411800,39386700,"Leon, FL",290292.0,Leon,FL
2178,2178,12053,2016242N24279,HERMINE,2016-09-28T12:18:00Z,8/31/2016,2016-09-11T23:59:00Z,None,Yes,"6"" to 10""",...,18710100,14837400,150645600,4752000,211154400,56285100,"Hernando, FL",186553.0,Hernando,FL
2179,2179,12067,2016242N24279,HERMINE,2016-09-28T12:18:00Z,8/31/2016,2016-09-11T23:59:00Z,None,Yes,"4"" to 6""",...,86326200,92493900,86374800,40143600,579096900,23068800,"Lafayette, FL",8451.0,Lafayette,FL
2180,2180,12023,2016242N24279,HERMINE,2016-09-28T12:18:00Z,8/31/2016,2016-09-11T23:59:00Z,None,Yes,"4"" to 6""",...,136196100,99252000,270693900,55429200,443043900,5526000,"Columbia, FL",69612.0,Columbia,FL

In [10]:
# insert the dataframe into the feature_store database:
df.to_sql('rhrms_feature_store', con=connection, if_exists = 'replace', index_label='id')

In [11]:
# close ipar_ml_db connection:
connection.close()